{% extends 'base1.html' %}
{% load static %}

{% block content %}
<body id=background3 style="text-align: center; vertical-align: middle;">

  <br>
  <h1>Story 9</h1>
  <br><br>

  {% if user.is_authenticated %}
    <h2> Halo abang/mba {{ username }} {{ first_name }}</h2>
  {% endif %}

  <h2>{{ text }}</h2>
  <br><br>
  <table style="border-spacing: 20px; width: 50%; text-align: center; vertical-align: middle;" class="center">
  <tbody>
    <tr>
      {% if not user.is_authenticated %}
        <td> <a href="{% url 'story9:story9_signup' %}">Sign Up</a> </td>

        <td> <a href="{% url 'story9:story9_login' %}">Log In</a></td>
      {% endif %}

      {% if user.is_authenticated %}
      <td><a href="{% url 'story9:story9_logout' %}">Log Out</a></td>
      {% endif %}

    </tr>
  </tbody>
  </table>
 
{% endblock %}