{% extends 'base1.html' %}
{% load static %}

{% block content %}
<body id=background3>

  <h2>Log In</h2>
  <form action = "{% url 'story9:story9_login'  %} "method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log In">
  </form>

{% endblock %}