{% extends 'base1.html' %}
{% load static %}

{% block content %}
<body id=background3>

  <h1>Help me.</h1>
  <br>
  <h2>Go find books.</h2>
  <input id="keyword" placeholder="Enter book's keyword">
  <br><br>

  <table id="daftar_buku">
  </table>
 
{% endblock %}