{% extends 'base1.html' %}
{% load static %}

{% block content %}
<body id=background3>

  <h1>HELP</h1>

  <div class=".wholeAccordion">
      <button class = "accordionTitle">Aktivitas saat ini</button> <button class = "up">Up</button><button class = "dw">Dw</button>
      <div class = "panel">
        <p>Aktivaskutuh ini aja tau. Maaf ya.</p>
      </div>
  </div>

  <div class="wholeAccordion">
      <button class = "accordionTitle">Pengalaman organisasi/kepanitiaan</button><button class = "up">Up</button><button class = "dw">Dw</button>
      <div class = "panel">
        <p>Akutuh masih gk berpengalaman tau. Maafin ya, akutuh emang kayak gitu anaknya.</p>
      </div>
  </div>
  
  <div class="wholeAccordion">
      <button class = "accordionTitle">Prestasi</button><button class = "up">Up</button><button class = "dw">Dw</button>
      <div class = "panel">
        <p>Aku sebenernya prestasinya apa ya? hmmm. Bingung akutuh.</p>
      </div>
  </div>

{% endblock %}