{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Gilang M. Bangun</title>
        <link rel="stylesheet" href="style.css"/>

    </head>
    <body>
        <img width="253" height="330" src="{% static 'Selfie.jpg' %}" alt="My Selfie">
        <table>
            <tbody>
                <tr>
                    <td>Nama:</td>
                    <td>Gilang Matahati Bangun</td>
                </tr>
                <tr>
                    <td>Panggilan:</td>
                    <td>Bangun</td>
                </tr>
                <tr>
                    <td>NPM:</td>
                    <td>1906399700</td>
                </tr>
                <tr>
                    <td>Angkatan:</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>Hobi:</td>
                    <td>Membuang waktu</td>
                </tr>
            </tbody>
        </table>

        <p></p>
        <p>Halo !</p>

        <p>
            Semoga website ini dapat membantu anda untuk mengenal saya dengan lebih baik.
        </p>

        <p></p>

        <p>Riwayat Pendidikan:</p>

        <table>
            <tbody>
                <tr>
                    <td>SDN Polisi 4 Bogor</td>
                    <td>2007 - 2013</td>
                </tr>
                <tr>
                    <td>SMPN 8 Kota Bogor</td>
                    <td>2013 - 2016</td>
                </tr>
                <tr>    
                    <td>SMAN 1 Kota Bogor</td>
                    <td>2016 - 2019</td>
                </tr>
                <tr>
                    <td>Fasilkom, Universitas Indonesia</td>
                    <td>2019 - Sekarang</td>
                </tr>
            </tbody>
        </table>
	<br/>
        <table>
            <tbody>
                <tr>
                    <td>Contact info:  </td>
                    <td><a href="https://www.linkedin.com/in/gilang-matahati-bangun-0351251a3/"> Profil Linkedin saya</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>