{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="matkuls Background" id="background2">
    <br><br>
    <h1>Showcase Mata Kuliah</h1>
    <hr>
    <br>
    <h2>Mata Kuliah:</h2>
    <br>

    {% for matkul in matkuls %}
        <h3><a href="{% url 'detail' slug=matkul.slug %}">{{ matkul.nama }}</a></h3>
        <p>{{ matkul.deskripsi }}</p>
        <br>
    {% endfor %}

    <br><hr>
    <h4><a href="{% url 'matkul_create' %}">Buat Matkul</a></h4>
    <br>
    {% include 'navbar.html' %}
</div>
{% endblock content %}