{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="background3">
    <br><br>
    <h1>Detail Mata Kuliah</h1>
    <hr>
    <br>

    <h2>{{ matkul.nama }}</h2>
    <br>

    <table>
        <tbody>
            <tr>
                <td>Nama Dosen:</td>
                <td>{{ matkul.dosen }}</td>
            </tr>
            <tr>
                <td>Jumlah SKS:</td>
                <td>{{ matkul.sks }}</td>
            </tr>
            <tr>
                <td>Deskripsi Mata Kuliah:</td>
                <td>{{ matkul.deskripsi }}</td>
            </tr>
            <tr>
                <td>Semester Mata Kuliah:</td>
                <td>{{ matkul.semester }}</td>
            </tr>
            <tr>
                <td>Ruang Mata Kuliah:</td>
                <td>{{ matkul.ruang }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <hr>
    <table>
        <tbody>
            <tr>
                <td><h4><a href="{% url 'matkul_update' matkul.id %}">Update</a></h4></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h4><a href="{% url 'matkul_delete' matkul.id %}">Delete</a></h4></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock content %}