
<div class="row" id="marginTop3">
    <div class="col-sm-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:index' %}">Biodata <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:index2' %}">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:index3' %}">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'matkul_view' %}">Matkul</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'kegiatan_view' %}">Kegiatan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story7:story7' %}">Story7</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story8:story8' %}">Story8</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'story9:story9_home' %}">Story9</a>
                </li>
         
              </ul>
            </div>
        </nav>
    </div>
</div>