{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container" id="background0">
      <div class="row">
        <div class="col-sm-12">
          <br><br>
          <h1 class="text-center">Gilang M. Bangun</h1>
          <hr>
          <p class="text-center">Let's get along</p>
        </div>
      </div>

      <div class="row" id="marginTop3">
        <div class="col-sm-2 bg-light border" id="index0Button">
            <a href="{% url 'main:index' %}">
              <h2 class="text-center" id="indexLinkedIn">Let's go!</h2>
            </a>
        </div>
      </div>
      <div class="row" id="marginTop10">
      </div>
      <div class="row" id="marginTop10">
      </div>
      <div class="row" id="marginTop10">
      </div>
     
  </div>
  {% endblock content %}

