{% extends 'base.html' %}
{% load static %}

{% block content %}

            <div class="container-fluid" id="background">

                <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                    <br><br>
                                    <h1 class="text-center">Gilang M. Bangun</h1>
                                    <hr>
                                    <p class="text-center">Mr. Charming</p>
                            </div>
                        </div>

                        <div class="row" id="marginTop3">
                            <div class="col-sm-12 col-md-7 col-lg-8 bg-white border rounded">

                                <br> <h2>Hello,</h2> <br>
                                <p>
                                    Creative work is my strentgh and loneliness is my weakness.
                                    I am occasionaly met with inspiring idea but often times,
                                    it died out of loneliness.
                                    Lets work as a team so that no one dies lonely.
                                </p>
                                <br>
                                    <p class="text-right">
                                    Call me<br>
                                    081211650062
                                    </p>
                            </div>

                            <div class="col-sm-11 col-md-4 col-lg-3">
                                <img width="243" height="332" src="{% static 'img/Selfie.jpg' %}"alt="My handsome face" class="border" id="myimage">
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <br><br><br><br><br><br>
                                <a href="{% url 'main:index2' %}">
                                    <img border="0" alt="Next" src="{% static 'img/Next.png' %}" width="50" height="50" id="indexNext">
                                </a>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-star" id="marginTop3" >
                            <div class="col-sm-3">
                                <a href="https://www.linkedin.com/in/gilang-matahati-bangun-0351251a3/">
                                  <span id="indexLinkedIn">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                  </span>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://www.instagram.com/gilmathban/">
                                  <span id="indexInstagram">
                                    <i class="fab fa-instagram-square fa-2x"></i>
                                  </span>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://twitter.com/GilangBangun?s=09">
                                  <span id="indexTwitter">
                                    <i class="fab fa-twitter-square fa-2x"></i>
                                  </span>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <hr>
                            </div>
                        </div>

                        {% include 'navbar.html' %}

                        <div class="row" id="marginTop3">
                        </div>

                </div>
            </div>
{% endblock content %}

