{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container-fluid" id="background2">

                <div class="row">
                    <div class="col-sm-12">
                        <br><br><br><br><br>
                        <h1 class="text-center">Gilang M. Bangun</h1>
                        <hr>
                        <p class="text-center">Smarter than a penguin</p>
                    </div>
                </div>

                <div class="row" id="marginTop6">

                  <div class="col-sm-1">
                    <a href="{% url 'main:index' %}">
                        <img border="0" alt="Back" src="{% static 'img/Next.png' %}" width="50" height="50">
                    </a>
                  </div>

                    <div class="col-sm-5">
                        <br>
                        <h2 class="text-right">Skill,</h2>
                    </div>

                    <div class="col-sm-5">
                      <ul class="text-left">
                        <li>Basic Python</li>
                        <li>Basic Java</li>
                        <li>Fluent English</li>
                        <li>Debate</li>
                      </ul>
                    </div>

                    <div class="col-sm-1">
                      <a href="{% url 'main:index3' %}">
                          <img border="0" alt="Next" src="{% static 'img/Next.png' %}" width="50" height="50">
                      </a>
                    </div>

                </div>

                <div class="row" id="marginTop3">
                  <div class="col-sm-12">
                      <br><br><br>
                      <p class="text-right">Information System <br> Student,</p>
                  </div>
                </div>

                {% include 'navbar.html' %}

                <div class="row" id="marginTop10">
                </div>

        </div>
{% endblock content %}


