{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid" id="background3">

      <div class="row">
        <div class="col-sm-12">
            <br><br><br><br><br>
            <h1 class="text-center">Gilang M. Bangun</h1>
            <hr>
            <p class="text-center">Will soon have a degree</p>
        </div>
      </div>

      <div class="row" id="marginTop3">

        <div class="col-sm-4">
          <a href="{% url 'main:index2' %}">
              <img border="0" alt="Back" src="{% static 'img/Next.png' %}" width="50" height="50">
          </a>
        </div>

        <div class="col-sm-2">
          <br><br>
        </div>

        <div class="col-sm-6 border bg-white rounded">
          <table>
              <tbody>
                  <tr>
                      <td>Fasilkom UI</td>
                      <td>2019 - Present</td>
                  </tr>
                  <tr>
                      <td>SMAN 1 Bogor</td>
                      <td>2017 - 2019</td>
                  </tr>
                  <tr>
                      <td>SMPN 8 Bogor</td>
                      <td>2014 - 2017</td>
                  </tr>
              </tbody>
          </table>
        </div>

      </div>

      <div class="row" id="marginTop6">
        <div class="col-sm-12">
          <p id="marginLeft12">My Education<p>
        </div>
      </div>

      <div class="row" id="marginTop6">
      </div>

      {% include 'navbar.html' %}

      <div class="row" id="marginTop6">
      </div>
      <div class="row" id="marginTop6">
      </div>
  

    </div>
{% endblock content %}

