{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="matkuls Background, container-fluid" id="background2">
    <div class='row'>
        <div class="col-sm-12">
            <br><br>
            <h1>Showcase Kegiatan</h1>
            <hr>
            <br>
        </div>
    </div>

    {% for kegiatan in kegiatans %}
    <div class='row'>
        <div class="col-sm-12">
            <h3>Kegiatan {{ kegiatan.nama }}:</h3>

            {% for peserta in pesertas %}
                {% if peserta.kegiatan == kegiatan %}
                <h4>{{ peserta.nama }}</h4>
                {% endif %}
            {% endfor %}

        </div>
        <br><br><br>
    </div>

    <div class='row'>
        <div class="col-sm-6">
            <br><br>
            <h4><a href="{% url 'peserta_create' id=kegiatan.id %}">Buat Peserta</a></h4>
        </div>
    </div>
    {% endfor %}

    <div class='row'>
        <div class="col-sm-6">
            <br><br>
            <h4><a href="{% url 'kegiatan_create' %}">Buat Kegiatan</a></h4>
        </div>
    </div>
  
    <div class="row" id="marginTop10">
    </div>
    <div class="row" id="marginTop10">
    </div>
    <div class="row" id="marginTop10">
    </div>

</div>
{% endblock content %}
{% include 'navbar.html' %}


