{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="background">
    <br><br>
    <h1>Masukan data Peserta</h1>
    <hr>
    <br><br>

    <form action="" method="POST">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" name="Submit">
    </form>
</div>

{% endblock content %}